* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-grigia {
    background-color: #F2F2F2;
}
.navbar {
    background-color: #212529;
}
.navbar-brand > img {
    width: 65px;
    height: 65px;
}
.disponibilità {
    font-size: 13px;
}
.row-libri:hover {
    opacity: 0.5;
}